@charset "UTF-8";
img {
    width: inherit;
    height: auto;
}

#imageCaption1 {
    background-color: #A2E8DD;
    padding: 1rem;
}

.parallax {
    /* The image used */
    background-image: url("placeholder.png");
    min-height: 50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    padding: inherit;
}

.col-sm-4 {
    text-align: center
}

#col1 {
    background-color: #32DE8A;
}

#col2 {
    background-color: #372772;
}

#col3 {
    background-color: #FC9E4F;
}

.nav-link {
    cursor: pointer;
}